<h2>List of articles</h2>

<% @article.each do |article_item| %>
	<div style="border: 1px solid; margin: 10px; padding: 20px;">
		<h3><%= article_item.title %></h3>
		<p style="padding-left: 20px;"><%= article_item.text %></p>
		<%= link_to 'Show article', article_path(article_item) %>
		<%= link_to 'Edit article',  edit_article_path(article_item) %>
		<%= link_to 'Delete article', article_path(article_item), method: :delete, data: {confirm: "Are you sure?"}, class: "delete-button" %>
	</div>
<% end %>