<h2>Contact us</h2>

<%= form_for :contact, url: contacts_path do |f| %>
	<p>
		<%= f.label :email %><br/>
		<%= f.text_field :email %>
	</p>
	<p>	
		<%= f.label :message %><br/>
		<%= f.text_area :message %>
	</p>
	<p><%= f.submit 'Send message'%></p>
<% end %>

<% if @contact_data.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@contact_data.errors.count, "error") %> prohibited this article from being saved:</h2>
    <ul>
    <% @contact_data.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>